
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@600&display=swap');
body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Atma', sans-serif;
    background-color: lightblue;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: lightblue;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: 0;
    margin-bottom: var(--gutter);
    border: none;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(86, 128, 218);
    height: var(--header-height);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px, 50px, 50px, 10px;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: rgb(86, 128, 218);
    box-shadow: var(--shadow);
}

.section2 {
    display: flex;
    margin: 0;
}

img {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.monster::after {
    content: url('/assets/Monster.png');
    font-size: 8rem;
    position: absolute;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 10px;
}

button {
    margin: 5px;
    font-family: 'Atma';
    letter-spacing: 1px;
}

#door1 {
    background-color: greenyellow;
    border: inset green 3px;
    border-radius: 100px;
    color: black;
    font-size: 20px;
}

#door2{
    background-color: rgb(173, 114, 230);
    border: inset rgb(98, 0, 128) 3px;
    border-radius: 100px;
    color: black;
    font-size: 20px;
}

#door3{
    background-color: rgb(114, 184, 230);
    border: inset rgb(13, 0, 128) 3px;
    border-radius: 100px;
    color: black;
    font-size: 20px;
}

#reset {
    width: 400px;
    background:rgb(106, 137, 224);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-span: all;
    border-radius: 20px;
    margin: 0;
    font-size: 18px;
}

